{% extends "layouts/base.html" %} {% block title %} Projekt {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<!-- notification css -->
<link rel="stylesheet" href="/static/assets/plugins/notification/css/notification.min.css"> {% endblock stylesheets %}
{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->


                <div class="card-header">
                    <h3>Projektliste</h3>

                    <a href="{% url 'projekt:create-projekt' %}"
                        class="btn btn-gray-800 label rounded theme-bg text-white float-right f-12">Erstellen</a>
                    <a href="{% url 'vorstudie:leistung-create' %}"
                        class="btn btn-gray-500 label rounded theme-bg text-white float-right f-12">Leistung</a>
                    <a href="{% url 'vorstudie:investitionskosten-create' %}"
                        class="btn btn-gray-500 label rounded theme-bg text-white float-right f-12">Investitionskosten</a>
                    <a href="{% url 'vorstudie:technikflaechen-create' %}"
                        class="btn btn-gray-500 label rounded theme-bg text-white float-right f-12">Technikflächen</a>
                    <a href="{% url 'vorstudie:energie-create' %}"
                        class="btn btn-gray-500 label rounded theme-bg text-white float-right f-12">Energie</a>
                    <a href="{% url 'vorstudie:kpi-create' %}"
                        class="btn btn-gray-500 label rounded theme-bg text-white float-right f-12">KPI</a>

                    <div class="card-block px-0 py-3">

                        <div class="table-responsive">

                            <table class="table table-hover">
                                <tbody>
                                    <tr class="unread">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="pr-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                                                    Projekt Nummer </th>
                                                <th
                                                    class="pr-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                                                    Projekt Name</th>
                                                <th
                                                    class="pr-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                                                    Projektphase</th>
                                                <th
                                                    class="pr-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                                                    Erstellt</th>
                                                <th
                                                    class="pr-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                                                    Actions</th>

                                            </tr>
                                        </thead>


                                        {% for projekt in object_list %}
                                    <tr class="unread">
                                        <td>
                                            <h6 class="mb-1 pr-5">{{projekt.projekt_nummer}}
                                        </td>
                                        <td>

                                            <h6 class="mb-1 pr-5">{{projekt.projekt_name}}
                                            </h6>


                                        </td>
                                        <td>
                                            <h6 class="text-muted">
                                                {{projekt.projekt_phase}}</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"><i
                                                    class="fas fa-circle text-c-green f-10 m-r-15"></i>{{projekt.projekt_added}}
                                            </h6>
                                        </td>
                                        <td>

                                            <a href="{% url 'projekt:create-spezprojekt' projekt.pk %}"
                                                class="label theme-bg2 text-black f-12">Detail</a>
                                            <a href="{% url 'projekt:update-projekt' projekt.pk %}"
                                                class="label theme-bg2 text-black f-12">Update</a>


                                        </td>

                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
    <!--             [ Main Content ] end -->
</div>
</div>
</div>

<!-- [ Main Cont               ent ] end -->

{% endblock content %}

<!-- Specific Page JS go  es HERE  -->
{% block javascripts %}


<!-- amchart js -->
<script src="/static    /assets/plugins/amchart/js/amcharts.js"></script>
<script src="/static/assets/plugins/amchart/js/gauge.js"></script>
<script src="/static                /assets/plugins/amchart/js/serial.js"></script>
<script src="/st             atic/assets/plugins/amchart/js/light.js"></script>
<script src="/st          atic/assets/plugins/amchart/js/pie.min.js"></script>
<script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
<script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
<script src="/static/assets/plugins/amchart/js/radar.js"></script>
<scr ipt src="/static/assets/plugins/amchart/js/worldLow.js">
    </script>

    <!-- dashboard-custom js -->
    <script src="/static/assets/js/pages/dashboard-custom.js"></script>

    {% endblock javascripts %}