{% extends "layouts/base.html" %} {% block title %} Upload Stammdaten {% endblock %}

{% load bootstrap4 %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<!-- notification css -->
<link rel="stylesheet" href="/static/assets/plugins/notification/css/notification.min.css"> {% endblock stylesheets %}
{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->


                <div class="card-header">
                    <h3>Upload Technikzentralen Elektro Stammdaten</h3>
                </div>

                <div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary mt-2">Bestätigen</button>
                        {% endbuttons %}

                    </form>
                </div>



            </div>
        </div>
    </div>
</div>



</div>
<!--             [ Main Content ] end -->
</div>
</div>
</div>

<!-- [ Main Cont               ent ] end -->

{% endblock content %}

<!-- Specific Page JS go  es HERE  -->
{% block javascripts %}


<!-- amchart js -->
<script src="/static    /assets/plugins/amchart/js/amcharts.js"></script>
<script src="/static/assets/plugins/amchart/js/gauge.js"></script>
<script src="/static                /assets/plugins/amchart/js/serial.js"></script>
<script src="/st             atic/assets/plugins/amchart/js/light.js"></script>
<script src="/st          atic/assets/plugins/amchart/js/pie.min.js"></script>
<script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
<script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
<script src="/static/assets/plugins/amchart/js/radar.js"></script>
<scr ipt src="/static/assets/plugins/amchart/js/worldLow.js">
    </script>

    <!-- dashboard-custom js -->
    <script src="/static/assets/js/pages/dashboard-custom.js"></script>

    {% endblock javascripts %}